/* Custom button styles */
.custom-button {
    background-color: #c9685b;
    border-color: #c9685b;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 50px;
  }
  
  /* Override link colors */
  a {
    color: #c9685b;
  }
  
  a:hover {
    color: darken(#c9685b, 10%) !important; /* Slightly darken on hover */
  }
  
  /* Input focus styles */
  .form-control:focus {
    border-color: #c9685b;
    box-shadow: 0 0 0 0.2rem rgba(201, 104, 91, 0.25);
  }
  
  /* Label colors */
  .form-label {
    color: #c9685b;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  /* Checkbox styles */
  .form-check-input:checked {
    background-color: #c9685b;
    border-color: #c9685b;
  }

  .form-text-check {
    font-weight: 500;
  }
  
  /* Divider color */
  hr {
    border-top: 2px solid #c9685b;
  }
  