<main class="main">
  <!-- Menu Section -->
  <section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title">
      <h2>Iz maminih kuhinjskih zapisnika<br></h2>
      <p><span class="description-title">Recepti</span></p>
    </div>

    <div class="container">
      <!-- Navigation for Recipe Categories -->
      <ul class="nav nav-tabs d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
            <h4>Zalogajčići</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
            <h4>Obroci</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
            <h4>Salate</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
            <h4>Slastice</h4>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- Zalogajčići Section -->
        <div class="tab-pane fade active show" id="menu-starters">
          <div class="tab-header text-center">
            <h3>Zalogajčići</h3>
          </div>
          <div class="row gy-5">
            <div class="col-lg-4 menu-item" *ngFor="let recipe of recipes">
              <img [src]="'data:image/jpeg;base64, ' + recipe.imageData " class="menu-img img-fluid" [alt]="recipe.dishName"
                (click)="openModal(recipe)">
              <h4>{{ recipe.dishName }}</h4>
              <p class="ingredients">{{ recipe.ingredients }}</p>
            </div>
          </div>
        </div>

        <!-- Add similar sections for Obroci, Salate, and Slastice with respective tab-pane and IDs -->
        <!-- Example for Obroci Section -->
        <div class="tab-pane fade" id="menu-breakfast">
          <div class="tab-header text-center">
            <h3>Obroci</h3>
          </div>
          <div class="row gy-5">
            <div class="col-lg-4 menu-item" *ngFor="let recipe of recipes">
              <h4>{{ recipe.dishName }}</h4>
              <img [src]="'data:image/jpeg;base64, ' + recipe.imageData " class="menu-img img-fluid" [alt]="recipe.dishName"
                (click)="openModal(recipe)"/>
              <p class="ingredients">{{ recipe.ingredients }}</p>
            </div>
          </div>
        </div>
        
        <div class="tab-pane fade" id="menu-lunch">
          <div class="tab-header text-center">
            <h3>Salate</h3>
          </div>
          <div class="row gy-5">
            <div class="col-lg-4 menu-item" *ngFor="let recipe of recipes">
              <img [src]="'data:image/jpeg;base64, ' + recipe.imageData " class="menu-img img-fluid" [alt]="recipe.dishName"
                (click)="openModal(recipe)">
              <h4>{{ recipe.dishName }}</h4>
              <p class="ingredients">{{ recipe.ingredients }}</p>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="menu-dinner">
          <div class="tab-header text-center">
            <h3>Slastice</h3>
          </div>
          <div class="row gy-5">
            <div class="col-lg-4 menu-item" *ngFor="let recipe of recipes">
              <img [src]="'data:image/jpeg;base64, ' + recipe.imageData " class="menu-img img-fluid" [alt]="recipe.dishName"
                (click)="openModal(recipe)">
              <h4>{{ recipe.dishName }}</h4>
              <p class="ingredients">{{ recipe.ingredients }}</p>
            </div>
          </div>
        </div>

        <!-- Repeat the above structure for Salate and Slastice sections -->
      </div>
    </div>
  </section>

  <p-dialog [(visible)]="isModalOpen" [modal]="true" [style]="{ width: '600px' }" header="{{ modalRecipe.name }}"
    [closable]="false" (onHide)="closeModal()">
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-between align-items-center">
        <h1>{{ modalRecipe.dishName }}</h1>
        <button class="close-button" (click)="closeModal()">X</button>
      </div>
    </ng-template>

    <div class="modal-body">
      <div class="left-column">
        <img [src]="'data:image/jpeg;base64, ' + modalRecipe.imageData " alt="Recipe Image" class="modal-img img-fluid">
      </div>
      <div class="right-column">
        <p><strong>Vrsta jela: </strong>{{ modalRecipe.dishType }}</p>
        <p><strong>Sastojci:</strong> {{ modalRecipe.ingredients }}</p>
        <p><strong>Priprema:</strong> {{ modalRecipe.preparation }}</p>
      </div>
    </div>
  </p-dialog>
</main>
