.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block;
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto; /* Adjust margin for spacing */
  padding: 30px; /* Increased padding */
  border-radius: 10px;
  display: flex;
  max-width: 1200px; /* Increase the width for a bigger square */
  width: 90%; /* Increase width to take more space on smaller screens */
}

.modal-body {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Add some space between the image and text */
}

.left-column {
  flex: 1;
}

.modal-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.right-column {
  flex: 2;
  padding-left: 30px;
}


