<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">

    <a href="" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="assets/tekst.png" alt="">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">Početna<br></a></li>
        <li><a href="#about">O meni</a></li>
        <li><a href="#chefs">Moji favoriti</a></li>
        <li><a href="recipes">Recepti</a></li>
        <li><a href="#contact">Kontakt</a></li>
        <li><a href="login">Prijava</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer id="footer" class="footer dark-background">
  <div class="container d-flex justify-content-around">
    <div class="d-flex flex-column align-items-center mb-3">
      <i class="bi bi-envelope icon"></i>
      <div class="text-center">
        <h4>Kontakt</h4>
        <p>
          <strong>Email:</strong> <span>bozica.trbojevic&#64;gmail.com</span><br>
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center mb-3">
      <i class="bi bi-clock icon"></i>
      <div class="text-center">
        <h4>Radno vrijeme</h4>
        <p>
          <strong>Uvijek otvoreni!</strong><br>
          <span>Recepti su dostupni 24/7</span>
        </p>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Mom's Kitchen</strong> <span>All Rights Reserved</span></p>
  </div>
</footer>

