.custom-btn {
  background-color: #c9685b;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  /* Optional: Add border-radius for rounded corners */
  border-radius: 5px;
}

.form-control:focus {
  border-color: #c9685b !important;
  box-shadow: 0 0 0 0.2rem rgba(201, 104, 91, 0.25) !important;
}

.form-select:focus {
  border-color: #c9685b !important;
  box-shadow: 0 0 0 0.2rem rgba(201, 104, 91, 0.25) !important;
}

/* Label colors */
.form-label {
  color: #c9685b !important;
  margin-bottom: 0.5rem;
}

/* Checkbox styles */
.form-check-input:checked {
  background-color: #c9685b !important;
  border-color: #c9685b !important;
}

.header-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between h1 and button */
  align-items: center;
  margin-bottom: 10px; /* Vertically center items */
}

.header-title {
  margin: 0; /* Remove default margins */
}

.table-container {
  margin: 20px;
}

.actions-column {
  width: 150px;
  /* Set a fixed width for the actions column */
}

.actions-column button {
  margin-left: 5px;
  /* Add some margin between buttons */
  border-radius: 50%;
  /* Make buttons round */
  width: 40px;
  height: 40px;
  padding: 0;
  /* Remove padding for equal height/width */
  display: inline-flex;
  /* Ensure buttons are inline and aligned next to each other */
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  /* Align vertically within the table cell */
}

.btn-edit {
  background-color: #90ee90;
  /* Light green */
  border: none;
  /* Remove border */
  color: white;
  /* White icon color */
}

.btn-delete {
  background-color: #ce1212;
  /* Custom red */
  border: none;
  /* Remove border */
  color: white;
  /* White icon color */
}

.btn-edit:hover {
  background-color: #76c776;
  /* Slightly darker green on hover */
}

.btn-delete:hover {
  background-color: #b10e0e;
  /* Slightly darker red on hover */
}

.bi {
  font-size: 18px;
  /* Adjust the size of the icons */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
}

.search-bar-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #37373f; /* Color of the icon */
  font-size: 1rem; /* Adjust icon size if needed */
}

.search-bar {
  padding-left: 35px; /* Add padding to the left to make room for the icon */
  background-color: #f8f9fa; /* Optional: set background color */
  border: 2px solid #37373f; /* Change the border color */
  color: #37373f; /* Change the text color */
  outline: none; /* Remove default outline */
  margin-right: 10px;
  border-radius: 10px; /* Optional: adjust border radius */
  transition: border-color 0.3s ease; /* Optional: smooth transition */
  height: 2.5rem; /* Adjust height if necessary */
}

/* Change the placeholder color */
.search-bar::placeholder {
  opacity: 1; /* Ensures full opacity of the placeholder */
}

/* Change the focus color */
.search-bar:focus {
  border-color: #37373f; /* Border color on focus */
  box-shadow: 0 0 5px rgba(90, 84, 83, 0.5); /* Optional: shadow on focus */
}


.new-recipe-button {
  margin-left: 10px;
}