<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section light-background">
    <div class="container">
      <h1>Dobrodošli u<br>Mom's kitchen!</h1>
      <p>...gdje je svaki obrok pripremljen s ljubavlju i pažnjom</p>
      <div class="d-flex justify-content-center">
        <a href="recipes" class="btn-get-started">Recepti</a>
      </div>
    </div>
  </section>
  <!-- About Section -->
  <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title">
      <h2>Upoznajte mamu<br></h2>
      <p><span class="description-title">O meni</span></p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-7">
          <img src="assets/cooking.png" class="img-fluid mb-4" alt="">
        </div>
        <div class="col-lg-5">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
                  velit.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
                  nulla pariatur.</span></li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
            </p>

            <div class="position-relative mt-4">
              <img src="assets/about2.jpeg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Favorites Section -->
  <section id="favorites" class="favorites section">

    <!-- Section Title -->
    <div class="container section-title">
      <h2>Favoriti</h2>
      <p><span class="description-title">Moja tri favorita<br></span></p>
    </div><!-- End Section Title -->

    <div class="container">
      <p class="fst-italic">Kao mama koja se raduje svaki put kad u kuhinji stvorim nešto posebno, želim vam predstaviti tri recepta koja
        su mi najdraža. Ova jela su mi posebno draga jer su rezultat mog osobnog truda i strasti u stvaranju
        savršenstva. Svaki recept sam osmislila s puno ljubavi i pažnje, neprekidno dodajući začine i prilagođavajući ih
        kako bih postigla ono što smatram kulinarskom izvrsnošću.</p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="favorite-member">
            <div class="member-img">
              <img src="assets/menu/menu-item-2.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Recept 1</h4>
              <span>Zalogajčići</span>
              <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                exercitationem iure minima enim corporis et voluptate.</p>
            </div>
          </div>
        </div><!-- End favorite member -->

        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="favorite-member">
            <div class="member-img">
              <img src="assets/menu/menu-item-4.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Recept 2</h4>
              <span>Obroci</span>
              <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis.
                Voluptate sed quas reiciendis animi neque sapiente.</p>
            </div>
          </div>
        </div><!-- End favorite member -->

        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="favorite-member">
            <div class="member-img">
              <img src="assets/menu/menu-item-5.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Recept 3</h4>
              <span>Slastice</span>
              <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                architecto porro aspernatur molestiae modi.</p>
            </div>
          </div>
        </div><!-- End favorite member-->

      </div>

    </div>
  </section><!-- /Favorites Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title">
      <h2>kontakt</h2>
      <p><span class="description-title">Postavite mi pitanje</span></p>
    </div><!-- End Section Title -->

    <form action="https://formspree.io/f/mjkbrjlq" method="post" class="php-email-form">
      <div class="row gy-4">

        <div class="col-md-6">
          <input type="text" name="name" class="form-control" placeholder="Ime" required="">
        </div>

        <div class="col-md-6 ">
          <input type="email" class="form-control" name="email" placeholder="Email" required="">
        </div>

        <div class="col-md-12">
          <input type="text" class="form-control" name="subject" placeholder="Predmet" required="">
        </div>

        <div class="col-md-12">
          <textarea class="form-control" name="message" rows="6" placeholder="Poruka" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">
          <button type="submit">Pošalji poruku</button>
        </div>

      </div>
    </form><!-- End Contact Form -->

  </section><!-- /Contact Section -->

</main>